.preloader-full-height {
	height: 100%;
	position: fixed;
	z-index: 100000000000000000;
	background: url(../images/patternbatik.png) top left repeat, linear-gradient(to right, #dbaf6c, #9c6161);
	width: 100%;
	text-align: center;
	padding-top: calc(32vh);
}

.preloader-full-height > h4 {
	color: rgb(255, 255, 255, 0.9);
}

#me {
    -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
